/* GENERAL STYLES */

:root {
    --primary-color: #1e1e1e;
    --secondary-color: #eece1a;
    --overlay-color: rgba(24, 32, 39, 0.85);
    --text-color: #fff;
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    color: var(--text-color);
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 0 3rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section h2 {
    font-size: 3rem;
}

section p {
    font-size: 1.5rem;
}

.wrapper h1 > span {
    color: var(--secondary-color);
}

/* PROJECTS */

#portfolio .wrapper {
    padding-bottom: 30vh;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1.5rem;
}

.projects img {
    width: 100%;
    /* border-radius: 4px 4px 0 0; */
}

.project-item:hover {
    transform: scale(1.03);
    transition: all 0.5s ease-in;
}

.project-item h2 {
    font-size: 1.5rem;
    color: var(--text-color);
}

.stack {
    background-color: #b0b0b0;
    color: #000000;
    border: 2px solid transparent;
    display: block;
    text-align: center;
    border-radius: 4px 4px 0 0;
    margin-top: 5px;
    font-size: .9em;
}

/* ABOUT ME */

.bio {
    font-size: 1.2rem;
    padding: 1rem;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 5rem;
    padding-top: 2vh;
}

.contact-info a {
    color: var(--text-color);
    transition: color 0.5s ease-in-out;
}

.contact-info a:hover {
    color: var(--secondary-color);
    transition: color 0.5s ease-in-out;
}

#about .wrapper {
    padding-bottom: 30vh;
}

/* Buttons */

.btn {
    border: 2px solid transparent;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 4px 4px;
    text-decoration: none;
}

.btn.check-work {
    border-color: var(--text-color);
    color: var(--text-color);
    width: 30%;
    margin: 3.75em auto 0 auto;
    font-size: 1em;
    padding: 1rem 0;
    transition: color 0.5s ease-in-out;
}

.btn.check-work:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: #333;
    transition: color 0.5s ease-in-out;
}

.btn.btn-projects {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: -8px;
    border-radius: 0 0 4px 4px;
}

/* Section Images */
section#home {
    background: url('https://source.unsplash.com/B3l0g6HLxr8/1600x900') no-repeat center center/cover;
}

section#portfolio {
    background: url('https://source.unsplash.com/dC6Pb2JdAqs/1600x900') no-repeat center center/cover;
}

section#about {
    background: url('https://source.unsplash.com/iIJrUoeRoCQ/1600x900') no-repeat center center/cover;
}

.logo {
    height: 15px;
    width: 20px;
}

.paragraph__logo {
    display: inline-block;
    background-color: #ffffff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 680px) {

    section h1 {
        font-size: 3rem;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-item h2 {
        font-size: 1.2rem;
    }
}

/* @media screen and (max-height: 680px) {
    #portfolio .wrapper,
    #about .wrapper {
        padding-bottom: 10vh;
    }
} */

@media screen and (max-width: 680px) {
    #home .check-work {
        width: 45%;
    }
}

/* @media screen and (max-height: 500px) {
    #portfolio .wrapper,
    #about .wrapper {
        padding-bottom: 2vh;
    }
} */

@media screen and (max-width: 500px) {
    section h1 {
        font-size: 2rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    section p {
        font-size: 0.8rem;
    }

    #home .check-work {
        width: 65%;
    }

    section#home {
        background: url('https://source.unsplash.com/B3l0g6HLxr8/800x500') no-repeat center center/cover;
    }

    section#portfolio {
        background: url('https://source.unsplash.com/dC6Pb2JdAqs/800x500') no-repeat center center/cover;
    }
    
    section#about {
        background: url('https://source.unsplash.com/iIJrUoeRoCQ/800x500') no-repeat center center/cover;
    }

    .project-item h2 {
        font-size: 0.8rem;
    }

    .bio {
        font-size: 0.8rem;
    }
    
    .contact-info {
        font-size: 2.5rem;
        padding-top: 2vh;
    }
}
